# ========== Python ==========
__pycache__/
*.pyc
*.pyo
*.pyd

# ========== Virtual Environments ==========
.venv/
venv/

# ========== Environment Variables ==========
.env
.env.*

# ========== Databases ==========
*.sqlite3
db.sqlite3

# ========== Jupyter ==========
.ipynb_checkpoints/

# ========== IDE ==========
.vscode/
.idea/

# ========== OS ==========
.DS_Store
Thumbs.db
inputVSScore.xlsx

# Django static files (production)
staticfiles/
